<!-- <form>
  <h1>Bienvenido a ITIN</h1>

  <label for="texto">Texto:</label>
  <input id="texto" type="text" [(ngModel)]="textoInput" name="textoInput">

  <label for="numero">Número:</label>
  <input id="numero" type="number" [(ngModel)]="numeroInput" name="numeroInput">

  <label for="textarea">Área de texto:</label>
  <textarea id="textarea" [(ngModel)]="textoArea" name="textoArea"></textarea>

  <button type="button" (click)="dado()">Lanzar dado</button>
</form> -->

<form>
  <div class="destacado">
    <h1><span>EUR-ACE</span></h1>
  </div>

  <label for="numero">Número:</label>
  <input id="numero" type="number" [(ngModel)]="numeroInput" name="numeroInput">

  <label for="texto">Texto:</label>
  <input id="texto" type="text" [(ngModel)]="textoInput" name="textoInput">

  <label for="textarea">Área de texto:</label>
  <textarea id="textarea" [(ngModel)]="textoArea" name="textoArea"></textarea>

  <button type="button" (click)="dado()">Lanzar dado</button>
</form>
